body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../public/bodyimage.jpg");
  background-size: cover;
  margin: 0;
}

.New {
  background-color: rgb(126, 255, 122, 0.5);
}

.New form {
  text-size-adjust: inherit;
}

.New .editPrice {
  font-size: 18px;
}

.Edit .editPrice {
  font-size: 18px;
}

.nav li {
  display: inline;
}

.nav {
  background-image: element(url("../public/bodyimage.jpg"));
  font-family: "Permanent Marker", cursive;
  grid-template-columns: repeat(20, 1fr);
  text-align: center;
}

#productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  justify-items: center;
  background-image: url("../public/bodyimage.jpg");
  background-size: contain;
  background-color: aqua;
}

.product img {
  width: 350px;
  height: 350px;
  size-adjust: auto;
}

.prodCard img {
  width: 350px;
  height: 315px;
}

.Show {
  width: auto;
  height: auto;
}

.prodCard {
  height: auto;
  font-size-adjust: inherit;
  box-shadow: -6px -6px 10px -5px;
  border: 1px solid gray;
  width: 350px;
  text-align: center;
  background-color: white;
}

.prodDisp img {
  width: 200px;
  height: 200px;
}

#description {
  padding: 0 10px;
}

#price {
  font-size: 50px;
  margin: 40px 0 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
